img {
    height: 100px;
    width: 100px;
    margin: 20px;
}

.div1 img {
    height: 150px;
    width: 240px;
    border: 1px solid yellow;
}

.div1 {
    background-color: blue;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.div2 {
    background-color: orangered;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.div3 {
    background-color: yellow;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.div4 {
    background-color: rgb(15, 15, 39);
    height: 120px;
    position: relative;
}

#texto {
    margin: 0px;
    color: white;
    position: absolute;
    top: 50px;
    left: 540px;
}