<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado de Frutas - Orden Confirmada</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>

<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>Mercado de Frutas</strong>
            </a>
        </div>
    </div>
</header>

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">¡Gracias por ordenar del Mercado de Frutas!</h1>
            <p class="lead text-muted">
              Creaste una orden con {{ data.total }} elementos el día {{ data.fecha }}.
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <h4 class="mb-3">Tu orden</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Fruta</th>
                    <th>Cantidad</th>
                </tr>
                </thead>
                <tbody>
                {% for fruta, cantidad in data.items() if fruta not in ['nombre', 'apellido', 'email', 'total', 'fecha'] %}
                <tr>
                    <td>{{ fruta.capitalize() }}</td>
                    <td>{{ cantidad }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <h4 class="mb-3">Información de la Orden</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <strong>Nombre:</strong> {{ data['nombre'] }}
                </div>
                <div class="col-md-6 mb-3">
                    <strong>Apellido:</strong> {{ data['apellido'] }}
                </div>
            </div>

            <div class="mb-3">
                <strong>E-mail:</strong> {{ data['email'] }}
            </div>

            <hr class="mb-4">
            <a class="btn btn-primary btn-lg btn-block" href="/">Regresar</a>
        </div>
    </div>
</main>

</body>
</html>
