body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Botón Buscar */
.btn-buscar {
    background-color: lightgray;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 150px;
    text-align: center;
}

/* Botón Redondo */
.btn-redondo {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Botón Crear Cuenta */
.btn-crear-cuenta {
    background-color: #0094ff;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
