/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para el header */
.main-header {
    background-color: #8d1c41; /* Color de fondo del header */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #8e0f3d;
    padding: 10px 20px;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.left-section i {
    margin-right: 10px;
    font-size: 18px;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section i {
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
}

.profile-icon {
    background-color: teal;
    color: white;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
}
