/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para el header */
.main-header {
    background-color: #8d1c41; /* Color de fondo del header */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo de los íconos */
.main-header i {
    font-size: 24px;
    cursor: pointer;
}

/* Estilo del buscador */
.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.search-bar input {
    width: 100%;
    max-width: 600px;
    padding: 8px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para ajustar el input de búsqueda */
.search-bar input:focus {
    outline: none;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
}
