<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción del Futuro</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-5">La Predicción del Futuro</h1>
        <p class="lead text-center">
            {{ mensaje }}
        </p>
        <a href="/" class="btn btn-secondary btn-block">Volver a intentarlo</a>
    </div>
</body>
</html>
