<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explorador de Reliquias</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Tus reliquias: {{ reliquias }}</h1>
        <h3>Exploraciones realizadas: {{ session['exploraciones'] }}</h3>

        {% if ganador %}
            <div class="alert alert-success" role="alert">
                ¡Felicidades! Has ganado con {{ reliquias }} reliquias en {{ session['exploraciones'] }} exploraciones.
            </div>
            <a href="/reiniciar" class="btn btn-primary">Reiniciar Juego</a>
        {% else %}
            <div class="row mt-3">
                <div class="col">
                    <h4>Templo</h4>
                    <p>Ganas 10-20 reliquias</p>
                    <form action="/buscar_reliquias" method="post">
                        <input type="hidden" name="lugar" value="templo">
                        <input type="submit" value="Encontrar reliquias!" class="btn btn-success">
                    </form>
                </div>
                <div class="col">
                    <h4>Pirámide</h4>
                    <p>Ganas 5-10 reliquias</p>
                    <form action="/buscar_reliquias" method="post">
                        <input type="hidden" name="lugar" value="piramide">
                        <input type="submit" value="Encontrar reliquias!" class="btn btn-success">
                    </form>
                </div>
                <div class="col">
                    <h4>Selva</h4>
                    <p>Ganas 2-5 reliquias</p>
                    <form action="/buscar_reliquias" method="post">
                        <input type="hidden" name="lugar" value="selva">
                        <input type="submit" value="Encontrar reliquias!" class="btn btn-success">
                    </form>
                </div>
                <div class="col">
                    <h4>Ruinas</h4>
                    <p>Ganas/Pierdes 0-50 reliquias</p>
                    <form action="/buscar_reliquias" method="post">
                        <input type="hidden" name="lugar" value="ruinas">
                        <input type="submit" value="Encontrar reliquias!" class="btn btn-success">
                    </form>
                </div>
            </div>
        {% endif %}

        <h4 class="mt-4">Actividades</h4>
        <ul>
            {% for actividad in actividades | reverse %}
                <li class="{% if 'Perdiste' in actividad %}text-danger{% else %}text-success{% endif %}">{{ actividad }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
