body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.board {
    display: grid;
    gap: 10px;

}
.cell {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.number {
    font-size: 18px;
    font-weight: bold;
}
.name {
    font-size: 12px;
}
