body {
    width: 1400px;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: crimson;
    color: #ffffff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

.logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: aqua;
    border: 3px solid yellow;
}

.logo a {
    color: #a8db1b;
    text-decoration: none;
    font-size: 24px;
    margin-top: 10px;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin-right: 20px;
    border: 1px solid rgb(5, 5, 5);
    border-radius: 80px;

}

.nav-links li a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: yellow;
}

.nav-links li a:hover {
    color: rgb(17, 240, 17);
}